In [3]:
print("Hello World!")

Hello World!

In [5]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\vasisht\anaconda3\lib\site-packages (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.21 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vasisht\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\vasisht\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install faker

Collecting faker
  Downloading Faker-27.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\vasisht\anaconda3\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\vasisht\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-27.0.0-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 991.0 kB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.8 MB 3.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 5.7 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.8 MB 7.0 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 7.5 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 7.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-27.0.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vasisht\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vasisht\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vasisht\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vasisht\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vasisht\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\vasisht\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install numpy

Requirement already satisfied: numpy in c:\users\vasisht\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import random
from datetime import datetime, timedelta


start_date = datetime(2024, 6, 29, 8, 55)
end_date = datetime(2025, 6, 29, 8, 59)
time_increment = timedelta(minutes=2)


bill_nos = ["I/2425/5542", "I/2425/5543", "I/2425/5544", "I/2425/5545", "I/2425/5546", "I/2425/5547", "I/2425/5548", "I/2425/5549", "I/2425/5550", "I/2425/5551", "I/2425/5552", "I/2425/5553"]
items = ["Biryani Mutton", "Black Coffee", "Butter Chicken Curry", "Lime Water", "Paneer Butter Masala", "Roti", "Veg Fried Rice", "Black Tea", "Egg Fried Rice", "Chicken Tikka", "Papaya Juice", "Mushroom Kadai Or Mutter", "Tea", "Upma", "Chicken Fried Rice", "Dosa - Masala", "Curd Rice", "Sev Puri", "Egg Hakka Noodles"]
categories = ["Biryanis", "Beverages", "Ala carte - mains", "Beverage", "Paneer", "Breads", "Rice option", "Starters", "Juice's", "Veg mains", "Breakfast", "Chaat", "Dosa", "Noodles"]
subcategories = [" ","Thanks giving food fest","Non veg"]
departments = ["Non veg", "Veg", "Drinks-Non-Alcohol"]
waiter_id= ["WAITER_01","WAITER_02","WAITER_03","WAITER_04","WAITER_05","WAITER_06"]

data = []

current_date = start_date

while current_date <= end_date:
    record = {
        "DATE": current_date.strftime("%Y-%m-%d %I:%M %p"),
        "STORE NAME": "Foodlife",
        "NDCIN": "NDCIN950",
        "TENANT ID": "Tenant_01",
        "STAFF ID": "Food life",
        "BILL NO": random.choice(bill_nos),
        "WAITER_ID": random.choice(waiter_id),
        "TYPE": "TAKE AWAY",
        "AEP NUMBER": f"AEP_{random.randint(1, 100)}",
        "ITEM": random.choice(items),
        "BRAND": "-",
        "CATEGORY": random.choice(categories),
        "SUB-CATEGORY": random.choice(subcategories),
        "DEPARTMENT": random.choice(departments),
        "QTY": random.randint(1, 3),
        "MENU PRICE": round(random.uniform(20.0, 220.0), 2),
        "DISC %": random.choice([0, 5, 10, 15]),
        "DISC AMOUNT": 0.0,  # This will be calculated
        "TAXABLE AMOUNT": 0.0,  # This will be calculated
        "TAX %": random.choice([5, 10, 12]),
        "TAX AMOUNT": 0.0,  # This will be calculated
        "SERVICE CHARGE": random.choice([0, 5]),
        "DELIVERY CHARGES": random.choice([0, 5, 10]),
        "PARCEL CHARGES": random.choice([0, 5]),
        "CARD CHARGES": random.choice([0, 2]),
        "OTHER CHARGES": random.choice([0, 1]),
        "TOTAL AMOUNT": 0.0,  # This will be calculated
        "PAYMENT MODE": random.choice(["Cash", "Card"]),
        "ROUND AMOUNT": 0.0,  # Placeholder
        "CARD NUMBER": random.randint(1234, 7890),
        "CARD TYPE": random.choice(["Debit", "Credit"]),
        "APPROVAL CODE": f"APP{random.randint(1000, 9999)}",
        "RLCC TRANSACTION NUMBER": f"TXN{random.randint(100001, 999999)}",
    }

    record["DISC AMOUNT"] = round(record["MENU PRICE"] * record["QTY"] * (record["DISC %"] / 100), 2)
    record["TAXABLE AMOUNT"] = round(record["MENU PRICE"] * record["QTY"] - record["DISC AMOUNT"], 2)
    record["TAX AMOUNT"] = round(record["TAXABLE AMOUNT"] * (record["TAX %"] / 100), 2)
    record["TOTAL AMOUNT"] = round(record["TAXABLE AMOUNT"] + record["TAX AMOUNT"] + record["SERVICE CHARGE"] + record["DELIVERY CHARGES"] + record["PARCEL CHARGES"] + record["CARD CHARGES"] + record["OTHER CHARGES"], 2)

    data.append(record)
    current_date += time_increment

df = pd.DataFrame(data)
df.to_csv(r"C:\Users\Vasisht\Downloads\synthetic_data.csv", index=False)

In [28]:
df

,DATE,STORE NAME,NDCIN,TENANT ID,STAFF ID,BILL NO,WAITER_ID,TYPE,AEP NUMBER,ITEM,...,PARCEL CHARGES,CARD CHARGES,OTHER CHARGES,TOTAL AMOUNT,PAYMENT MODE,ROUND AMOUNT,CARD NUMBER,CARD TYPE,APPROVAL CODE,RLCC TRANSACTION NUMBER
0,2024-06-29 08:55 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5545,WAITER_03,TAKE AWAY,AEP_34,Papaya Juice,...,0,2,0,50.31,Card,0.0,6505,Debit,APP7030,TXN387285
1,2024-06-29 08:57 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5548,WAITER_04,TAKE AWAY,AEP_97,Upma,...,5,2,0,325.68,Card,0.0,5076,Credit,APP3293,TXN314218
2,2024-06-29 08:59 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5551,WAITER_02,TAKE AWAY,AEP_95,Egg Fried Rice,...,0,0,1,219.33,Cash,0.0,2407,Credit,APP2679,TXN219469
3,2024-06-29 09:01 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5543,WAITER_01,TAKE AWAY,AEP_2,Biryani Mutton,...,5,2,1,106.45,Card,0.0,2587,Debit,APP2089,TXN596837
4,2024-06-29 09:03 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_01,TAKE AWAY,AEP_82,Dosa - Masala,...,5,2,1,198.17,Card,0.0,6467,Credit,APP3015,TXN454953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262798,2025-06-29 08:51 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_04,TAKE AWAY,AEP_86,Egg Fried Rice,...,0,0,0,64.54,Cash,0.0,6672,Debit,APP9923,TXN616171
262799,2025-06-29 08:53 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_06,TAKE AWAY,AEP_96,Egg Fried Rice,...,5,2,1,175.82,Cash,0.0,3015,Credit,APP5243,TXN180346
262800,2025-06-29 08:55 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5547,WAITER_02,TAKE AWAY,AEP_92,Paneer Butter Masala,...,0,0,0,105.19,Card,0.0,6079,Debit,APP7420,TXN468380
262801,2025-06-29 08:57 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5546,WAITER_01,TAKE AWAY,AEP_47,Black Coffee,...,0,2,1,62.89,Card,0.0,4727,Credit,APP1836,TXN904590
262802,2025-06-29 08:59 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_03,TAKE AWAY,AEP_14,Black Tea,...,5,2,1,119.09,Cash,0.0,7567,Credit,APP8798,TXN840863

In [35]:
import pandas as pd
import random
from datetime import datetime, timedelta

start_date = datetime(2024, 6, 29, 8, 55)
end_date = datetime(2025, 6, 29, 8, 59)

item_mapping = {
    "Biryani Mutton": {"CATEGORY": "Biryanis", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 220.0},
    "Black Coffee": {"CATEGORY": "Beverages", "SUBCATEGORY": " ", "DEPARTMENT": "Drinks-Non-Alcohol", "MENU PRICE": 50.0},
    "Butter Chicken Curry": {"CATEGORY": "Ala carte - mains", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 180.0},
    "Lime Water": {"CATEGORY": "Beverage", "SUBCATEGORY": " ", "DEPARTMENT": "Drinks-Non-Alcohol", "MENU PRICE": 30.0},
    "Paneer Butter Masala": {"CATEGORY": "Paneer", "SUBCATEGORY": "Thanks giving food fest", "DEPARTMENT": "Veg", "MENU PRICE": 150.0},
    "Roti": {"CATEGORY": "Breads", "SUBCATEGORY": " ", "DEPARTMENT": "Veg", "MENU PRICE": 20.0},
    "Veg Fried Rice": {"CATEGORY": "Rice option", "SUBCATEGORY": "Veg", "DEPARTMENT": "Veg", "MENU PRICE": 120.0},
    "Black Tea": {"CATEGORY": "Beverages", "SUBCATEGORY": " ", "DEPARTMENT": "Drinks-Non-Alcohol", "MENU PRICE": 40.0},
    "Egg Fried Rice": {"CATEGORY": "Rice option", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 140.0},
    "Chicken Tikka": {"CATEGORY": "Starters", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 200.0},
    "Papaya Juice": {"CATEGORY": "Juice's", "SUBCATEGORY": " ", "DEPARTMENT": "Drinks-Non-Alcohol", "MENU PRICE": 60.0},
    "Mushroom Kadai Or Mutter": {"CATEGORY": "Veg mains", "SUBCATEGORY": " ", "DEPARTMENT": "Veg", "MENU PRICE": 160.0},
    "Tea": {"CATEGORY": "Beverages", "SUBCATEGORY": " ", "DEPARTMENT": "Drinks-Non-Alcohol", "MENU PRICE": 25.0},
    "Upma": {"CATEGORY": "Breakfast", "SUBCATEGORY": " ", "DEPARTMENT": "Veg", "MENU PRICE": 50.0},
    "Chicken Fried Rice": {"CATEGORY": "Rice option", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 140.0},
    "Dosa - Masala": {"CATEGORY": "Dosa", "SUBCATEGORY": " ", "DEPARTMENT": "Veg", "MENU PRICE": 70.0},
    "Curd Rice": {"CATEGORY": "Rice option", "SUBCATEGORY": "Veg", "DEPARTMENT": "Veg", "MENU PRICE": 90.0},
    "Sev Puri": {"CATEGORY": "Chaat", "SUBCATEGORY": "Veg", "DEPARTMENT": "Veg", "MENU PRICE": 60.0},
    "Egg Hakka Noodles": {"CATEGORY": "Noodles", "SUBCATEGORY": "Non veg", "DEPARTMENT": "Non veg", "MENU PRICE": 130.0},
}
bill_nos = ["I/2425/5542", "I/2425/5543", "I/2425/5544", "I/2425/5545", "I/2425/5546", "I/2425/5547", "I/2425/5548", "I/2425/5549", "I/2425/5550", "I/2425/5551", "I/2425/5552", "I/2425/5553"]
departments = ["Non veg", "Veg", "Drinks-Non-Alcohol"]
waiter_id = ["WAITER_01", "WAITER_02", "WAITER_03", "WAITER_04", "WAITER_05", "WAITER_06"]

data = []
current_date = start_date

while current_date <= end_date:
    item = random.choice(list(item_mapping.keys()))
    item_details = item_mapping[item]

    record = {
        "DATE": current_date.strftime("%Y-%m-%d %I:%M %p"),
        "STORE NAME": "Foodlife",
        "NDCIN": "NDCIN950",
        "TENANT ID": "Tenant_01",
        "STAFF ID": "Food life",
        "BILL NO": random.choice(bill_nos),
        "WAITER_ID": random.choice(waiter_id),
        "TYPE": "TAKE AWAY",
        "AEP NUMBER": f"AEP_{random.randint(1, 100)}",
        "ITEM": item,
        "BRAND": "-",
        "CATEGORY": item_details["CATEGORY"],
        "SUB-CATEGORY": item_details["SUBCATEGORY"],
        "DEPARTMENT": random.choice(departments),
        "QTY": random.randint(1, 3),
        "MENU PRICE": item_details["MENU PRICE"],
        "DISC %": random.choice([0, 5, 10, 15]),
        "DISC AMOUNT": 0.0,  # This will be calculated
        "TAXABLE AMOUNT": 0.0,  # This will be calculated
        "TAX %": random.choice([5, 10, 12]),
        "TAX AMOUNT": 0.0,  # This will be calculated
        "SERVICE CHARGE": random.choice([0, 5]),
        "DELIVERY CHARGES": random.choice([0, 5, 10]),
        "PARCEL CHARGES": random.choice([0, 5]),
        "CARD CHARGES": random.choice([0, 2]),
        "OTHER CHARGES": random.choice([0, 1]),
        "TOTAL AMOUNT": 0.0,  # This will be calculated
        "PAYMENT MODE": random.choice(["Cash", "Card"]),
        "ROUND AMOUNT": 0.0,  # Placeholder
        "CARD NUMBER": random.randint(1234, 7890),
        "CARD TYPE": random.choice(["Debit", "Credit"]),
        "APPROVAL CODE": f"APP{random.randint(1000, 9999)}",
        "RLCC TRANSACTION NUMBER": f"TXN{random.randint(100001, 999999)}",
    }

    record["DISC AMOUNT"] = round(record["MENU PRICE"] * record["QTY"] * (record["DISC %"] / 100), 2)
    record["TAXABLE AMOUNT"] = round(record["MENU PRICE"] * record["QTY"] - record["DISC AMOUNT"], 2)
    record["TAX AMOUNT"] = round(record["TAXABLE AMOUNT"] * (record["TAX %"] / 100), 2)
    record["TOTAL AMOUNT"] = round(
        record["TAXABLE AMOUNT"] + record["TAX AMOUNT"] + record["SERVICE CHARGE"] +
        record["DELIVERY CHARGES"] + record["PARCEL CHARGES"] + record["CARD CHARGES"] + record["OTHER CHARGES"], 2
    )

    record["ROUND AMOUNT"] = round(record["TOTAL AMOUNT"], 2)

    data.append(record)
    

    time_increment = timedelta(minutes=random.randint(1, 5))
    current_date += time_increment

df = pd.DataFrame(data)
df.to_csv(r"C:\Users\Vasisht\Downloads\NukkadF&B_Synthetic-Data.csv", index=False)

In [36]:
df

,DATE,STORE NAME,NDCIN,TENANT ID,STAFF ID,BILL NO,WAITER_ID,TYPE,AEP NUMBER,ITEM,...,PARCEL CHARGES,CARD CHARGES,OTHER CHARGES,TOTAL AMOUNT,PAYMENT MODE,ROUND AMOUNT,CARD NUMBER,CARD TYPE,APPROVAL CODE,RLCC TRANSACTION NUMBER
0,2024-06-29 08:55 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5546,WAITER_04,TAKE AWAY,AEP_5,Papaya Juice,...,0,0,1,185.55,Cash,185.55,4399,Debit,APP5105,TXN567401
1,2024-06-29 09:00 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5545,WAITER_05,TAKE AWAY,AEP_90,Tea,...,0,0,0,24.75,Cash,24.75,5132,Debit,APP8599,TXN291118
2,2024-06-29 09:02 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5542,WAITER_02,TAKE AWAY,AEP_97,Egg Hakka Noodles,...,0,2,0,298.00,Cash,298.00,6284,Credit,APP3122,TXN562793
3,2024-06-29 09:06 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_06,TAKE AWAY,AEP_28,Upma,...,5,2,0,106.50,Cash,106.50,1964,Credit,APP7064,TXN563517
4,2024-06-29 09:11 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5549,WAITER_04,TAKE AWAY,AEP_90,Curd Rice,...,0,2,0,92.33,Cash,92.33,6961,Credit,APP9932,TXN914126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175275,2025-06-29 08:43 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5542,WAITER_05,TAKE AWAY,AEP_72,Dosa - Masala,...,5,2,1,195.43,Cash,195.43,7788,Credit,APP9139,TXN949634
175276,2025-06-29 08:45 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5551,WAITER_05,TAKE AWAY,AEP_30,Sev Puri,...,0,2,1,69.00,Card,69.00,5626,Credit,APP4578,TXN548187
175277,2025-06-29 08:49 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_04,TAKE AWAY,AEP_6,Tea,...,5,0,1,53.25,Card,53.25,7605,Credit,APP2686,TXN197391
175278,2025-06-29 08:53 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5552,WAITER_04,TAKE AWAY,AEP_79,Egg Fried Rice,...,5,2,1,392.85,Cash,392.85,2230,Credit,APP9365,TXN652574
175279,2025-06-29 08:57 AM,Foodlife,NDCIN950,Tenant_01,Food life,I/2425/5553,WAITER_02,TAKE AWAY,AEP_25,Black Coffee,...,5,2,0,155.50,Cash,155.50,7219,Credit,APP6304,TXN984227